@charset "utf-8";
/*ブレイクポイント指定しない時は通常のPC画面表示*/

/*フォーム全体*/
body {
    width: 100%;
    border:20px solid rgb(211, 225, 113);/* 枠線 */
    box-sizing:border-box;
    font-size: 20px;
    max-width: 1170px;
    margin: 0 auto;
    display: block;
}

/* ヘッダー*/
header{
    width: 800px;
    height: 120px;
    border-bottom: 3px solid rgb(211, 225, 113);
    color: rgb(107, 106, 106);
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left: 50%;
}

h1{
    text-align: center;
    width:800px;
    font-size:200%;
    position: absolute;
    transform: translate(-50%, -50%);
    top:30%;
    left: 50%;
}

/*ボディー*/
.list{
    height: 1300px;
}

li{
    list-style:none;
    color: rgb(107, 106, 106);
    font-size: 110%;
    position: relative;/*フォームの相対位置*/	
    top:18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li::before{
    position: absolute;
    transform: translate(-50%, -50%);
    left:50%;
    top:100%;
    bottom: 0px;
    content: '';
    width: 750px;
    border-bottom: 2px solid rgb(211, 225, 113);
}

.ingredients_list{
    text-align: center;
    height: 50px;
}

.ingredient{
    position: absolute;/*フォームの相対位置*/	
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.amount{
    position: absolute;/*フォームの相対位置*/	
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* チェックボックス01 */
input[type=checkbox] {
    display: none;
}
.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: absolute;
    width: auto;
    top: 35%;
    left: 25%;
}
.checkbox01::before {
    background: white;
    border: 1px solid rgb(107, 106, 106);
    content: '';
    display: block;
    height: 22px;
    width: 22px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left :5px;
    
}
.checkbox01::after {
    border-right: 3px solid  rgb(211, 225, 113);
    border-bottom: 3px solid  rgb(211, 225, 113);
    content: '';
    display: block;
    height: 18px;
    width: 10px;
    left: 12px;
    top: 50%;
    margin-top: -10px;
    opacity: 0;
    position: absolute; 
    transform: rotate(45deg);
    
}
input[type=checkbox]:checked + .checkbox01::after {
    opacity: 1;
}
/*ブレイクポイント指定(タブレット表示)*/
@media (max-width: 1000px){
/* ヘッダー*/
header{
    width: 550px;
    height: 110px;
}

h1{
    width:500px;
}

/*ボディー*/

li::before{
    width: 480px;
}
}
/*ブレイクポイント指定(スマホ表示)*/
@media (max-width: 670px){
body {
    border:10px solid rgb(211, 225, 113);/* 枠線 */ 
    font-size: 100%;   
}
/* ヘッダー*/
header{
    width: 320px;
    height: 80px;
}

h1{
    width:300px;
    font-size:120%;
    left:50%;
    top:50%;
}

/*ボディー*/

li::before{
    width: 380px;
}
/*チェックボックス*/
.checkbox01 {
    left: 20%;
}
.checkbox01::before {
    height: 20px;
    width: 20px;   
}
.checkbox01::after {
    height: 16px;
    width: 8px;
    left: 11px;
   
}
}
